CWI.EDI.PepBoys/CWI.EDI.PepBoys.Schemas.EDI/X12_00403_850.xsd

<?xml version="1.0"?>
<xs:schema xmlns:btsedi="http://schemas.microsoft.com/BizTalk/2005/EdiSchemaEditorExtension" 
           xmlns:b="http://schemas.microsoft.com/BizTalk/2003" 
           xmlns="http://schemas.cwi.com/edi/pep_boys" 
           targetNamespace="http://schemas.cwi.com/edi/pep_boys" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <schemaEditorExtension:schemaInfo namespaceAlias="btsedi" extensionClass="Microsoft.BizTalk.Edi.SchemaEditorExtension.EdiSchemaExtension" standardName="EDI" xmlns:schemaEditorExtension="http://schemas.microsoft.com/BizTalk/2003/SchemaEditorExtensions" />
      <b:schemaInfo version="1.0" document_type="850" standard="EDI" standards_version="00403" root_reference="X12_00403_850" displayroot_reference="X12_00403_850" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" X12ConditionDesignator_Check="No" />
    </xs:appinfo>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation xml:lang="en">copyright © Microsoft Corporation. All rights reserved.</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>Schema name: X12_4030_850</xs:documentation>
  </xs:annotation>
  <xs:element name="X12_00403_850">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="postfix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Purchase Order" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ST">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Transaction Set Header" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ST01">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Transaction Set Identifier Code_143" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="3" />
                    <xs:maxLength value="3" />
                    <xs:enumeration value="850" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ST02">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Transaction Set Control Number_329" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="4" />
                    <xs:maxLength value="9" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element ref="BEG">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="BEG" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Beginning Segment for Purchase Order" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="REF">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="REF" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Reference Identification">
                <b:Rule subjects="X12ConditionDesignatorX_Required" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="REF02" />
                  <b:Subject name="REF03" />
                </b:Rule>
              </b:recordInfo>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="3" ref="PER">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="PER" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Administrative Communications Contact">
                <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="PER03" />
                  <b:Subject name="PER04" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="PER05" />
                  <b:Subject name="PER06" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="PER07" />
                  <b:Subject name="PER08" />
                </b:Rule>
              </b:recordInfo>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ITD">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="ITD" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Terms of Sale/Deferred Terms of Sale">
                <b:Rule subjects="X12ConditionDesignatorX_ListConditional" qualifier="ITD03" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="ITD04" />
                  <b:Subject name="ITD05" />
                  <b:Subject name="ITD13" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_ListConditional" qualifier="ITD08" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="ITD04" />
                  <b:Subject name="ITD05" />
                  <b:Subject name="ITD13" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_ListConditional" qualifier="ITD09" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="ITD10" />
                  <b:Subject name="ITD11" />
                </b:Rule>
              </b:recordInfo>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="10" ref="DTM">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="DTM" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Date/Time Reference">
                <b:Rule subjects="X12ConditionDesignatorX_Required" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="DTM02" />
                  <b:Subject name="DTM03" />
                  <b:Subject name="DTM05" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_Conditional" qualifier="DTM04" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="DTM03" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="DTM05" />
                  <b:Subject name="DTM06" />
                </b:Rule>
              </b:recordInfo>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="200" ref="N1Loop1">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Name" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="100000" ref="PO1Loop1">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Baseline Item Data" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" ref="CTTLoop1">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Transaction Totals" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="SE">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Transaction Set Trailer" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SE01">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Number of Included Segments_96" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="1" />
                    <xs:maxLength value="10" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="SE02">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Transaction Set Control Number_329" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="4" />
                    <xs:maxLength value="9" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="N1Loop1">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Name" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="N1">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="N1" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Name">
                <b:Rule subjects="X12ConditionDesignatorX_Required" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="N102" />
                  <b:Subject name="N103" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="N103" />
                  <b:Subject name="N104" />
                </b:Rule>
              </b:recordInfo>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="2" ref="N2">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="N2" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Additional Name Information" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="2" ref="N3">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="N3" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Address Information" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="N4">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="N4" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Geographic Location">
                <b:Rule subjects="X12ConditionDesignatorX_Exclusion" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="N402" />
                  <b:Subject name="N407" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_Conditional" qualifier="N406" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="N405" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_Conditional" qualifier="N407" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="N404" />
                </b:Rule>
              </b:recordInfo>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PER_2">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="PER" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Administrative Communications Contact">
                <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="PER03" />
                  <b:Subject name="PER04" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="PER05" />
                  <b:Subject name="PER06" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="PER07" />
                  <b:Subject name="PER08" />
                </b:Rule>
              </b:recordInfo>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PIDLoop1">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Product/Item Description" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PID_2">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="PID" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Product/Item Description">
                <b:Rule subjects="X12ConditionDesignatorX_Conditional" qualifier="PID04" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="PID03" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_Required" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="PID04" />
                  <b:Subject name="PID05" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_Conditional" qualifier="PID07" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="PID03" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_Conditional" qualifier="PID08" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="PID04" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_Conditional" qualifier="PID09" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="PID05" />
                </b:Rule>
              </b:recordInfo>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PO1Loop1">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Baseline Item Data" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PO1">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="PO1" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Baseline Item Data">
                <b:Rule subjects="X12ConditionDesignatorX_Conditional" qualifier="PO103" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="PO102" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_Conditional" qualifier="PO105" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="PO104" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="PO106" />
                  <b:Subject name="PO107" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="PO108" />
                  <b:Subject name="PO109" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="PO110" />
                  <b:Subject name="PO111" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="PO112" />
                  <b:Subject name="PO113" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="PO114" />
                  <b:Subject name="PO115" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="PO116" />
                  <b:Subject name="PO117" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="PO118" />
                  <b:Subject name="PO119" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="PO120" />
                  <b:Subject name="PO121" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="PO122" />
                  <b:Subject name="PO123" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="PO124" />
                  <b:Subject name="PO125" />
                </b:Rule>
              </b:recordInfo>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1000" ref="PIDLoop1">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Product/Item Description" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CTTLoop1">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Transaction Totals" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CTT">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="CTT" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Transaction Totals">
                <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="CTT03" />
                  <b:Subject name="CTT04" />
                </b:Rule>
                <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
                  <b:Subject name="CTT05" />
                  <b:Subject name="CTT06" />
                </b:Rule>
              </b:recordInfo>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BEG">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="BEG" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Beginning Segment for Purchase Order" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="BEG01" type="X12_ID_353">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Transaction Set Purpose Code_353" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="BEG02" type="X12_ID_92">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Purchase Order Type Code_92" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="BEG03">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Purchase Order Number_324" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="22" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="BEG04">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Release Number_328" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="BEG05">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Date_373" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_DT">
              <xs:minLength value="8" />
              <xs:maxLength value="8" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="BEG06">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Contract Number_367" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="REF">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="REF" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Reference Identification">
          <b:Rule subjects="X12ConditionDesignatorX_Required" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="REF02" />
            <b:Subject name="REF03" />
          </b:Rule>
        </b:recordInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="REF01" type="X12_ID_128">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Reference Identification Qualifier_128" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="REF02">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Reference Identification_127" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="50" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="REF03">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Description_352" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="80" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PER">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="PER" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Administrative Communications Contact">
          <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="PER03" />
            <b:Subject name="PER04" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="PER05" />
            <b:Subject name="PER06" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="PER07" />
            <b:Subject name="PER08" />
          </b:Rule>
        </b:recordInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PER01" type="X12_ID_366">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Contact Function Code_366" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="PER02">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Name_93" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="60" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="PER03" type="X12_ID_365">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Communication Number Qualifier_365" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="PER04">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Communication Number_364" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="256" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ITD">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="ITD" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Terms of Sale/Deferred Terms of Sale">
          <b:Rule subjects="X12ConditionDesignatorX_ListConditional" qualifier="ITD03" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="ITD04" />
            <b:Subject name="ITD05" />
            <b:Subject name="ITD13" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_ListConditional" qualifier="ITD08" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="ITD04" />
            <b:Subject name="ITD05" />
            <b:Subject name="ITD13" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_ListConditional" qualifier="ITD09" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="ITD10" />
            <b:Subject name="ITD11" />
          </b:Rule>
        </b:recordInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ITD01" type="X12_ID_336">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Terms Type Code_336" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ITD02" type="X12_ID_333">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Terms Basis Date Code_333" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ITD03">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Terms Discount Percent_338" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_R">
              <xs:minLength value="1" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="ITD04">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Terms Discount Due Date_370" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_DT">
              <xs:minLength value="8" />
              <xs:maxLength value="8" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="ITD05">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Terms Discount Days Due_351" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="ITD06">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Terms Net Due Date_446" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_DT">
              <xs:minLength value="8" />
              <xs:maxLength value="8" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="ITD07">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Terms Net Days_386" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTM">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="DTM" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Date/Time Reference">
          <b:Rule subjects="X12ConditionDesignatorX_Required" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="DTM02" />
            <b:Subject name="DTM03" />
            <b:Subject name="DTM05" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_Conditional" qualifier="DTM04" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="DTM03" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="DTM05" />
            <b:Subject name="DTM06" />
          </b:Rule>
        </b:recordInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DTM01" type="X12_ID_374">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Date/Time Qualifier_374" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="DTM02">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Date_373" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_DT">
              <xs:minLength value="8" />
              <xs:maxLength value="8" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="N1">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="N1" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Name">
          <b:Rule subjects="X12ConditionDesignatorX_Required" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="N102" />
            <b:Subject name="N103" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="N103" />
            <b:Subject name="N104" />
          </b:Rule>
        </b:recordInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="N101" type="X12_ID_98">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Entity Identifier Code_98" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="N102">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Name_93" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="60" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="N103" type="X12_ID_66">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Identification Code Qualifier_66" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="N104">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Identification Code_67" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="2" />
              <xs:maxLength value="80" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="N2">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="N2" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Additional Name Information" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="N201">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Name_93" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="60" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="N3">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="N3" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Address Information" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="N301">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Address Information_166" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="55" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="N302">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Address Information_166" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="55" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="N4">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="N4" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Geographic Location">
          <b:Rule subjects="X12ConditionDesignatorX_Exclusion" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="N402" />
            <b:Subject name="N407" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_Conditional" qualifier="N406" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="N405" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_Conditional" qualifier="N407" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="N404" />
          </b:Rule>
        </b:recordInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="N401">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="City Name_19" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="2" />
              <xs:maxLength value="30" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="N402">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="State or Province Code_156" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:length value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="N403">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Postal Code_116" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="3" />
              <xs:maxLength value="15" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PER_2">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="PER_2" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Administrative Communications Contact">
          <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="PER03" />
            <b:Subject name="PER04" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="PER05" />
            <b:Subject name="PER06" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="PER07" />
            <b:Subject name="PER08" />
          </b:Rule>
        </b:recordInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PER01" type="X12_ID_366">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Contact Function Code_366" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="PER02">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Name_93" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="60" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="PER03" type="X12_ID_365">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Communication Number Qualifier_365" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="PER04">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Communication Number_364" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="256" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PO1">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="PO1" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Baseline Item Data">
          <b:Rule subjects="X12ConditionDesignatorX_Conditional" qualifier="PO103" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="PO102" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_Conditional" qualifier="PO105" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="PO104" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="PO106" />
            <b:Subject name="PO107" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="PO108" />
            <b:Subject name="PO109" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="PO110" />
            <b:Subject name="PO111" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="PO112" />
            <b:Subject name="PO113" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="PO114" />
            <b:Subject name="PO115" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="PO116" />
            <b:Subject name="PO117" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="PO118" />
            <b:Subject name="PO119" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="PO120" />
            <b:Subject name="PO121" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="PO122" />
            <b:Subject name="PO123" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="PO124" />
            <b:Subject name="PO125" />
          </b:Rule>
        </b:recordInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PO101">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Assigned Identification_350" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="20" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="PO102">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Quantity Ordered_330" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_R">
              <xs:minLength value="1" />
              <xs:maxLength value="15" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="PO103" type="X12_ID_355">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Unit or Basis for Measurement Code_355" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="PO104">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Unit Price_212" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_R">
              <xs:minLength value="1" />
              <xs:maxLength value="17" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="PO105">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Basis of Unit Price Code_639" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="48" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="PO106" type="X12_ID_235">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Product/Service ID Qualifier_235" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="PO107">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Product/Service ID_234" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="48" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="PO108" type="X12_ID_235">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Product/Service ID Qualifier_235" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="PO109">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Product/Service ID_234" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="48" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="PO110" type="X12_ID_235">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Product/Service ID Qualifier_235" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="PO111">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Product/Service ID_234" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="48" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="PO112" type="X12_ID_235">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Product/Service ID Qualifier_235" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="PO113">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Product/Service ID_234" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="48" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="PO114" type="X12_ID_235">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Product/Service ID Qualifier_235" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="PO115">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Product/Service ID_234" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="48" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PID_2">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="PID_2" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Product/Item Description">
          <b:Rule subjects="X12ConditionDesignatorX_Conditional" qualifier="PID04" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="PID03" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_Required" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="PID04" />
            <b:Subject name="PID05" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_Conditional" qualifier="PID07" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="PID03" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_Conditional" qualifier="PID08" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="PID04" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_Conditional" qualifier="PID09" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="PID05" />
          </b:Rule>
        </b:recordInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PID01" type="X12_ID_349">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Item Description Type_349" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="PID02">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Product/Process Characteristic Code_750" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="48" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="PID03">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Agency Qualifier Code_559" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="48" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="PID04">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Product Description Code_751" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="12" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="PID05">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Description_352" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="80" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CTT">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="CTT" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Transaction Totals">
          <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="CTT03" />
            <b:Subject name="CTT04" />
          </b:Rule>
          <b:Rule subjects="X12ConditionDesignatorX_Paired" xmlns:b="http://schemas.microsoft.com/BizTalk/2003">
            <b:Subject name="CTT05" />
            <b:Subject name="CTT06" />
          </b:Rule>
        </b:recordInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CTT01">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Number of Line Items_354" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="CTT02">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Hash Total_347" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_R">
              <xs:minLength value="1" />
              <xs:maxLength value="10" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="X12_ID_66">
    <xs:restriction base="xs:string">
      <xs:enumeration value="92" />
      <xs:enumeration value="ZZ" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_92">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NE" />
      <xs:enumeration value="OS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_98">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ST" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_128">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IA" />
      <xs:enumeration value="L1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_235">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BP" />
      <xs:enumeration value="MD" />
      <xs:enumeration value="TP" />
      <xs:enumeration value="UK" />
      <xs:enumeration value="VP" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_333">
    <xs:restriction base="xs:string">
      <xs:enumeration value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_336">
    <xs:restriction base="xs:string">
      <xs:enumeration value="01" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_349">
    <xs:restriction base="xs:string">
      <xs:enumeration value="F" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_353">
    <xs:restriction base="xs:string">
      <xs:enumeration value="00" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_355">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_365">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AD" />
      <xs:enumeration value="FX" />
      <xs:enumeration value="TE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_ID_366">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CW" />
      <xs:enumeration value="OC" />
      <xs:enumeration value="ZZ" />
    </xs:restriction>
  </xs:simpleType>  
  <xs:simpleType name="X12_ID_374">
    <xs:restriction base="xs:string">
      <xs:enumeration value="002" />
      <xs:enumeration value="010" />
      <xs:enumeration value="938" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="date">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d*-\d\d-\d\d" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="time">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d\d:\d\d(:\d\d)?" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="X12_N">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_R">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_AN">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_ID">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_DT">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_TM">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N0">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N1">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N2">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N3">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N4">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N5">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N6">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N7">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N8">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N9">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
</xs:schema>